<h1 class="text-center">Welcome to {{title}}!</h1>
<div *ngIf="!loading" class="d-flex m-2 justify-content-center">
  <list-component title="Pro's" [items]="list.pros" (listUpdated)="updateList()"></list-component>
  <list-component title="Con's" [items]="list.cons" (listUpdated)="updateList()"></list-component>
</div>
<div *ngIf="loading" class="loader d-flex w-100 h-100 text-center"><h1 class="text-info m-auto">Loading...</h1></div>

